@font-face {
    font-family:'LeagueSpartan';
    src: url(../fonts/LeagueSpartan-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family:'notoSans';
    src: url(../fonts/noto-sans/NotoSans-Bold.ttf);
    font-weight: bold;
}


header{
    background: rgb(252, 249, 244);
    position: sticky;
    display: flex;
    justify-content: space-between ;
    top: 0;
}

body{
    font-family: notoSans, sans-serif;
    margin: 0;
    padding: 0;
}

li {
    padding: 30px;
}

a{
    text-decoration: none;
    color: rgb(31, 17, 15);
}

.logo{
    width: 100px;
    border-radius: 40px;
}

.logo-container{
    height: 120px;
    display: flex;
    padding-left: 3%;
    align-items: center;
}

.nav-container{
    display: flex;
    justify-content: center;
    padding-right: 5px;
    align-items: center;
    width: 100%;
}

.link{
    font-size: 25px;
    font-weight: bold;
    margin-right: 5%;
}

.icon{
    margin-left: 5%;
}

.hero-img{
    width: 100%;
}

.dropdown {
    position: relative;
    margin-right: 7%;
}

.dropdown ul {
    display: none;
    position: absolute;
    top: 90%;
    border-radius: 10px;
    list-style: none;
    padding: 0;
    z-index: 100;
    box-shadow: 2px 2px 5px 0 gray;
}

.dropdown:hover ul {
    display: block;
    background: white;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(252, 249, 244);
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 10%;
    min-width: 100px;
    background: rgb(252, 249, 244);
    padding: 1%;
    border-radius: 15px;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 15%;
    min-width: 200px;
    background: white;
    padding: 1%;
    margin: 2%;
    border-radius: 15px;
}

.card-img{
    width: 100%;
}

.card-desc {
    text-align: justify;
}

